In [7]:
import pandas as pd
import numpy as np
from math import sqrt
from math import pi
import matplotlib.pyplot as plt
from numpy import polyfit, polyval

In [46]:
# Constants
N1 = 1665
N2 = 970
L = 78 * 20**-2
R1 = 68
R2 = 470 * 10**3
C1 = 0.47 * 10**-6
S = 0.64 * (10**-2)**2
u0 = 4*pi*10**-7

freq = 30
Vpp0 = 20

alpha = N1 / (L * R1)
betta = R2 * C1 / (N2 * S)

In [17]:
def xi(Kx, Ky):
    return Kx*Ky*N1*R2*C1*freq/(N2*R1)

In [54]:
# Fill table 1
df1 = pd.DataFrame({'Kx':[50 * 10**-3],
                    'Ky':[100 * 10**-3],
                    'Xc':[1.1], 
                    'Yr':[1.5]})

# Calculating coercive force and residual induction for test sample
df1['Hc'] = df1['Kx'] * df1['Xc'] * alpha
df1['Br'] = df1['Ky'] * df1['Yr'] * betta

In [55]:
df1

     Kx   Ky   Xc   Yr        Hc        Br
0  0.05  0.1  1.1  1.5  6.906109  0.533747

In [43]:
df2 = pd.DataFrame({'Kx':[50 * 10**-3],
                    'Ky':[100 * 10**-3],
                    'Xm':[3.4],
                    'Ym':[2.6]})

df2['Hm'] = df2['Kx'] * df2['Xm'] * alpha
df2['Bm'] = df2['Ky'] * df2['Ym'] * betta
df2['um'] = df2['Bm'] / (df2['Hm'] * u0)

In [56]:
# TODO
# Produces wrong data
df2

     Kx   Ky   Xm   Ym         Hm        Bm            um
0  0.05  0.1  3.4  2.6  21.346154  0.925161  34489.576083

In [ ]:
df3 = pd.DataFrame({'U':[],
                    'X'
                    'Kx':[],
                    'Ky':[],
                    'Xm':[],
                    'Ym':[],
                    ''})